Clarify if/when X5Chain should be included

At the IETF 119 Hackathon, it became confusing when/if `33 x5chain` should be added to the protected header, the unprotected header, or not at all.

While adding the x5chain to the statement can help discoverability, it expands the CBOR content, which is intended to be as small as possible.
Placing x5Chain in the protected header also means it's included in the signature, which really adds no value.
Alternatives are to place it in the unprotected header, which isn't signed and could be stripped, but typically isn't in practice, so it still adds bloat.

Lastly, the spec speaks to different options: `x5t` (34), `x5chain`(33) or `kid`(4) 
[Line: 404](https://github.com/ietf-wg-scitt/draft-ietf-scitt-architecture/blob/main/draft-ietf-scitt-architecture.md?plain=1#L404) says:
> During registration, a Transparency Service MUST, at a minimum, authenticate the Issuer of the Signed Statement by validating the CBOR signature and checking the identity of the issuer against one of its currently configured trust anchors, using the `x5t` (34), `x5chain`(33) or `kid`(4) protected headers of the Signed Statement as hints.
> For instance, in order to authenticate X.509 Signed Statements, the Transparency Service MUST build and validate a complete certificate chain from the Issuer's certificate identified by `x5t`, to one of the root certificates most recently registered as a trust anchor of the Transparency Service.

Proposal would be to:
1. Move x5Chain to the unprotected header
1. Remove x5Chain
1. Update the samples to show the different combinations. The [current sample](https://github.com/ietf-wg-scitt/draft-ietf-scitt-architecture/blob/main/draft-ietf-scitt-architecture.md?plain=1#L523) shows all as options, which has confused implementers.

If an X.509 certificate is used as the identity document of the Issuer, then it's reasonable to require the thumbprint of the end-entity certificate to be included in the protected header. Additionally, the x5chain can optionally be included in the unprotected header. This approach has several benefits:

1. If there is an alternate discovery mechanism for X.509-based identity documents, the `x5t` value can be used to retrieve such documents. Given the existence of this alternate discovery mechanism, the chain included in the unprotected header can be removed to reduce the amount of (unnecessary) data in the Transparency Service.
2. If there is no such discovery mechanism, the presence of the x5chain in the unprotected header provides the necessary information to relying parties to validate the signature on the Statement.
3. RFC 9360 requires that information regarding the end-entity certificate for the identity be integrity-protected. Including the `x5t` in the protected header accomplishes this. However, there is no requirement for the `x5chain` to be protected, so it can be included in the unprotected header.

@henkbirkholz says `x5chain` is not to be recommended.

Okay. @OR13 made sure I reply ☺️ Seems to have worked out.

One looking from a specific angle could glean two potential drawbacks here: "carrying the weight the weight of x5chain can be a.) a burden (size) and b.) can make you lazy (cause it may cause over time something to the extend of... "maybe it may be okay to just trust the `x5chain` content? Probably? Maybe? No other checks?.... ah, what could possible go wrong")

Having commented that. I would advice to just make it optional and elaborate about semantics and usage scenarios in English text (especially if the location of `x5chain` implies different usage scenarios or slightly different semantics).

@henkbirkholz, my concrete suggestion:
1. `x5t` in the protected header: MUST if an X.509 certificate is the Identity Document
2. `x5chain` in the *unprotected* header: MAY
3. `x5chain` in the *protected* header: SHOULD NOT for the reasons you outlined in the comment [above](https://github.com/ietf-wg-scitt/draft-ietf-scitt-architecture/issues/222#issuecomment-2040311441)

As you mentioned, policy can profile these MAYs and SHOULDs to stronger RFC 2119 words if needed.

@ad-l to respond, keeping the `x5t` in the protected header, and when x5chain is maintained in the unprotected header.

The point of `x5chain` is to make the full identity of the issuer verifiable by relying parties. Transparency services are allowed to alter any unprotected header, so verifiers and auditors MUST NOT rely on any unprotected `x5chain` header to identify issuers, as a malicious transparency service can always substitute a partial chain with another one on a different root (it is even possible to do so while preserving the `x5t` of the leaf certificate and the AKI/SKI of all intermediates, by extending the chain at the root).

The policy for issuers is that if they intend their identity to be verifiable by auditors and verifiers, then they should include `x5chain`  in the protected headers. If only `x5t` is included then the configuration of the TS at the time of registration is trusted to identify the issuer (this is explained in the auditability of registration section).

Verifiers and auditors MUST ignore unprotected `x5chain` headers. TS may use unprotected `x5chain` as a hint to reconstruct the issuer chain but MUST validate the `x5t`.

I hope that clarifies the intent of how `x5chain` should be used, now we can discuss how these can be made explicit in the architecture

My understanding is that any verifier or auditor will need to perform certification path validation and not solely rely on the presence of `x5t` or `x5chain` in either the unprotected or protected header. RFC 9360, section 2 says:

> Parties that intend to rely on the assertions made by a certificate obtained from any of these methods still need to validate it. This validation can be done according to the PKIX rules specified in [[RFC5280](https://datatracker.ietf.org/doc/html/rfc5280)] or by using a different trust structure, such as a trusted certificate distributor for self-signed certificates. The PKIX validation includes matching against the trust anchors configured for the application. These rules apply when the validation succeeds in a single step as well as when certificate chains need to be built. If the application cannot establish trust in the certificate, the public key contained in the certificate cannot be used for cryptographic operations.

Perhaps this can be stated again in the current document to reduce potential ambiguity, but I think this validation will prevent any substitution attacks/fake chains presented by malicious transparency services.

@henkbirkholz Some security consideration text for unprotected x5chain
---
```
Auditors should be aware that the certificate chain information carried in un unprotected `x5chain` header can be tampered by a malicious transparency service, which may replace the intermediate certificates and connect to an unexpected root. This can allow malicious TS to forge claims that look genuine except for the wrong trust anchor. In addition to performing chain validation in accordance with PKIX rules specified in [RFC5280], auditors should explicitly verify the root certificates are genuine.
```

lgtm! Now we still have to consolidate the x5t & x5chain text in the body. (might massage the text a little bit when transplanting)