Review: Mike Bishop

https://datatracker.ietf.org/doc/draft-ietf-scitt-architecture/ballot/#draft-ietf-scitt-architecture_mike-bishop

> Given the varying functions performed by [notaries in different legal systems](https://edictsandstatutes.com/notaries-in-different-cultures/#The_Role_of_Notaries_in_Diverse_Legal_Systems), the comparison to a notarial stamp might be more confusing than illuminating for a global audience. For example, in the US, a notary certifies the identity of the signer without verifying the accuracy of the document being signed ("confirm a policy is met before recording the statement").

- [x] To be discussed in WG, I brought up this [exact point](https://github.com/ietf-wg-scitt/draft-ietf-scitt-architecture/pull/366#discussion_r2022374434) when we discussed this, but the consensus was that it still had illustrative value on the whole. @henkbirkholz would like to keep notary and will propose a PR. I propose #450.

## Section 2.1

> please expand and/or link to a definition of the term "DevSecOps".

- [x] PR needed. #418

Possible references:

[Cloud Security Alliance](https://cloudsecurityalliance.org/artifacts/six-pillars-of-devsecops)

> DevSecOps is the integration of continuous security principles, processes, and technology into DevOps culture, practices, and workflows.

[NIST SP 1800-44 IPD](https://csrc.nist.gov/pubs/sp/1800/44/ipd)

> Development Operations (DevOps) bring together software development and operations to shorten development cycles, allow organizations to be agile and maintain the pace of innovation while taking advantage of cloud-native technology and practices and the increasing industry use of rapidly evolving artificial intelligence (AI) capabilities. Development, Security, Operations (DevSecOps) emphasizes this philosophy by continuously addressing security throughout all phases of the software development lifecycle.

[NIST SP 800-204C in Section 1. Introduction](https://nvlpubs.nist.gov/nistpubs/SpecialPublications/NIST.SP.800-204C.pdf)

> Thus, DevSecOps is the term that denotes a culture and set of 
practices with automation tools to drive increased collaboration, trust, shared responsibility, 
transparency, autonomy, agility, and automation across the key stakeholders responsible for 
delivering software, including development, operations, and security organizations.

I think the last one is the best choice here.

> I appreciate the thorough Terminology section. The definition of Non-equivocation uses the capitalized term "Single Verifiable Data Structure"; while I see "Verifiable Data Structure" defined, there's no definition of the capitalized Single or of SVDS as a term. Should this be "single Verifiable Data Structure" or is an additional definition needed?

- [x] PR needed. #419

> In Figure 2, I'm unclear why there's a line from Issuer's "verify" to the Transparency Service. Wouldn't that go only into Verify Transparent Statement?

- [x] Consensus in meeting of Sep 16 is to remove the line for clarity #433.

> The claims being used (`iss`, `sub`) are from [RFC8392](https://datatracker.ietf.org/doc/rfc8392/). That's referenced to define the term "claim", but isn't given as a reference for these specific claim types. Please expand on that reference so people can follow that thread.

- [x] Actually the first use of `iss` in the definition Issuer, just a bit further down, does [exactly that](https://ietf-wg-scitt.github.io/draft-ietf-scitt-architecture/draft-ietf-scitt-architecture.html#section-3-6.14.1). #420 does the same in the definition of Subject, where `sub` is first used.

> Similarly, there's no introduction to `x5t`, `x5chain`, or `kid`. From context, I assumed they came from COSE_Sign1 in [RFC 9052](https://datatracker.ietf.org/doc/rfc9052/), but I don't find them there. Can you put pointers as appropriate? If this document is defining them, be clearer about that.

- [x] They actually come from RFC 9360, #421.

> In Section 9.5, what does "normatively signed" mean? If it means the media type requires a valid signature, consider "which include a signature and therefore...."

- [x] #422.

> In Section 9.7, "blame" may be a more loaded word than you want. I think this is trying to make a statement about attribution, not fault.

- [x] To be discussed. Attributing/attribution is probably better indeed. #424.

## Nits

> Section 2.1, "cyber security-based" => "cyber-security-based"
> Section 3, "for implementations" => "for implementations."
> Section 5.1.4 ends with a sentence fragment. Should this be part of the previous sentence?
> Section 6, no commas around the parentheses in the last paragraph
> Section 7.1, no comma after "[[STD96](https://datatracker.ietf.org/doc/std96/)]"
> Section 9.2, "unintentionally," => "unintentionally;"
> Section 9.5 and multiple Figures, "COSE Sign1" => "COSE_Sign1"?

- [x] #423.